<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ofdetra</title>
    <link rel="stylesheet" href="/boton.css">
    <link rel="stylesheet" href="/label.css">
    <link rel="stylesheet" href="/h1.css">
    <link rel="stylesheet" href="/caja.css">
    <link rel="stylesheet" href="/Inicio.css">
    <link rel="stylesheet" href="/Ver.css">
    <link rel="stylesheet"  href="/Buscar.css">
    <link rel="stylesheet"  href="/iniciar.css">
    <link rel="stylesheet"  href="/Persona.css">
    <link rel="stylesheet"  href="/Empresa.css">
    <link rel="stylesheet"  href="/oferta.css">
    <link rel="stylesheet"  href="/demanda.css">
    <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  </head>
  <body>
    

    
