<%- include("./../Partes/Cabecera.ejs")  %>
<form action="/Crearpersona" method="POST"> </form>
<div id="Crearcuentapersona"></div>

<%- include("./../Partes/notificaciones.ejs")  %>
<script src="/Crearcuentapersona.js"></script>

<%- include("./../Partes/PieDePagina.ejs")  %>
