<%- include("./../Partes/Cabecera.ejs")  %>

<div id="Crearcuentaempresa"></div>
<%- include("./../Partes/notificaciones.ejs")  %>
<script  src="/Crearcuentaempresa.js"></script>
<%- include("./../Partes/PieDePagina.ejs")  %>
