<%- include("./../Partes/Cabecera.ejs")  %>
<div id="asd"></div>
<div id='holiwis'></div>
<div id="inicio"></div>

<script type="text/javascript">
  var hola = 'isaac mi macho'
</script>
<!--<script src="Boton.js" charset="utf-8"></script>
<script src="Menu.js" charset="utf-8"></script>-->
<script src = "Inicio.js"></script>

<%- include("./../Partes/PieDePagina.ejs")  %>
