.h1React
{
    font-family: 'Roboto Black',arial,sans-serif;
    font-size:40px;
    color:black;
    text-align: center;
}
.h2React
{
    font-family: 'Roboto Black',arial,sans-serif;
    font-size:20px;
    color:black;
    text-align:left;
}